@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.titulo-principal {
    font-size: 50px;
    padding: 40px;
    text-shadow: 3px 1px 4px #0ea5e9;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.links {
    text-shadow: 3px 1px 4px #0ea5e9;
    padding-top: 2px;
}
.caja:focus {
    box-shadow: 1px 2px 4px 2px #082f49;
}
.invalido {
    box-shadow: 1px 0.5px 5px 2.5px #f43f5e;
}
.tituloReset {
    text-shadow: 3px 1px 4px rgb(0, 0, 0);
}
.principal {
    box-shadow: 1px 1px 20px 3px #082f49;
}

.contenedor__tabla {
    box-shadow: 0px 5px 9px -5px black;

    table,
    th,
    tr,
    td {
        border: 1px solid black;
        padding: 0.2rem 0;
    }
}
