@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.contenedor_menu {
    width: 3%;
    margin-right: 5px;
}


@keyframes slideIn {
    from {
        opacity: 0;
        translate: 250px;
    }

    to {
        opacity: 1;
        translate: 0;
    }
}

@keyframes slideOut {
    from {
        visibility: visible;
        opacity: 1;
        translate: 0;
    }

    to {
        visibility: hidden;
        opacity: 0;
        translate: 200px;
    }
}

@keyframes loader{
    from{
        width: 0;
    }

    to{
        width: 100%;
    }

}
